<div class="footer">
				<div class="footer-inner">
					<!-- #section:basics/footer -->
					<div class="footer-content">
						<span class="bigger-120">
							
							北京华宇工程技术有限公司 &copy; 2015-2016
						</span>
			</div>
					<!-- /section:basics/footer -->
		</div>
</div>