<br>
 <div class="container">

</div> 

<script type="text/javascript">
  function pageTurn(pageNum,pageSize){

   var searchParam ={
    	  pageNum:pageNum,
    	  pageSize:pageSize
	  }		  
	  refreshTable("#table1","library/nextpage",searchParam);
   }
   
</script>
