<div class="picContainer poorRotaterBox" id="rotateContainer"
	style="position: relative">
	<a
		href="${request.getContextPath()}/resources/assets/images/gallery/image-2.jpg"
		data-rel="colorbox" class="cboxElement"> <img width="350"
		height="350" alt="150x150"
		src="${request.getContextPath()}/resources/assets/images/gallery/thumb-2.jpg"
		style="visibility: visible; height: auto; width: auto;">
	</a>
</div>
<div class="share-file-viewer">
	<div class="other-file-detail">
		<div class="other-file-icon">
			<div class="global-icon-62 global-icon-62-rar"></div>
		</div>
		<span class="other-file-meta">文件大小：</span><span class="size">2.3M</span>
		<div class="other-file-unzip" style="display: block;">
			<a node-type="otherFileUnzip" class="lbtn" href="javascript:void(0);"><b>打开压缩包</b></a>
		</div>
	</div>
</div>

<dl node-type="module" class="module-hot-rec"
	style="height: 100px; display: block;">
	<dt>
		<a class="change" href="javascript:;" node-type="hot_rec_change">换一换</a>
		<span class="title">热门资源推荐</span>
	</dt>
	<dd>
		<a target="_blank" class="hot_item s13"
			href="/share/link?shareid=2096302390&amp;uk=708312363&amp;from=hotrec"
			title="年终报告如何写 千份模板任你选">年终报告如何写 千份模板任你选</a>
	</dd>
	<dd>
		<a target="_blank" class="hot_item s13"
			href="/share/link?shareid=1613519143&amp;uk=2453116636&amp;from=hotrec"
			title="雾霾天生存指南  快保存 手慢无">雾霾天生存指南 快保存 手慢无</a>
	</dd>
	<dd>
		<a target="_blank" class="hot_item s13"
			href="/share/link?shareid=1027926625&amp;uk=1798788396&amp;from=hotrec"
			title="一套价值8800元的excel教程">一套价值8800元的excel教程</a>
	</dd>
</dl>